.gradient-orange--vertical-broken-light {
	background-image: linear-gradient(180deg, #FF9900 0%, #FF8E00 100%);
}

.gradient-orange--vertical-broken-dark {
	background-image: linear-gradient(180deg, #FF8E00 0%, #FF6700 100%);
}

.gradient-orange--vertical {
	background-image: linear-gradient(180deg, #FF9900 0%, #FF6700 100%);
}

.gradient-orange--horizontal {
	background-image: linear-gradient(90deg, #FF9900 0%, #FF6700 100%);
}

.gradient-blue--vertical {
	background-image: linear-gradient(180deg, #00A3FF 0%, #0077b7 100%);
}

.gradient-hotpink--vertical {
	background-image: linear-gradient(180deg, #E8005A 0%, #C2004A 100%);
}

.gradient-dark-grey--vertical {
	background: rgb(34,34,34);
	background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(68,68,68,1) 100%);
}

.logo {
	max-width: 230px;
}

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.btn {
	@apply p-4 font-bold transition-all duration-200 ease-in transform rounded-full shadow;
	&-blue {
		@apply bg-blue;
		&:hover {
			@apply bg-blue-dark;
		}
	}
	&-orange {
		@apply text-white bg-orange;
		&:hover {
			@apply bg-orange-semidark;
		}
	}
	&-yellow {
		@apply bg-yellow text-orange-semidark;
		&:hover {
			@apply text-white bg-orange-semidark;
		}
	}
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 15px solid red;
	position: absolute;
	bottom: -15px;
	z-index: 50;
	left: 50%;
	transform: translateX(-50%);

	&--orange {
		border-top-color: #FF9900;
	}

	&--gray {
		border-top-color: #F7FAFC;
	}

	&--white {
		border-top-color: #fff;
	}
}

@responsive {
	.no-bg {
		background-image: none;
	}
}


pre {
	@apply block py-4 mx-4 my-6 text-lg not-italic font-normal whitespace-normal border-t border-b border-solid border-orange font-display;
}


/* Embla carousel */

.embla {
    @apply w-full;
  }
  
  .embla__wrap {
    @apply relative;
  }
  
  .embla__viewport {
    @apply w-full overflow-hidden;
  }
  
  .embla__container {
    @apply flex;
  }
  
  .embla__slide {
    @apply relative flex-1;
  }
  
  .embla__slide--gallery {
    flex: 0 0 100%;
    padding-left: 0px;
  
    /* @screen md {
      flex: 0 0 50%;
      padding-left: 0px;
    }
  
    @screen xl {
      flex: 0 0 25%;
      padding-left: 0px;
    } */
  }
  