.gradient-orange--vertical-broken-light {
	background-image: linear-gradient(180deg, #FF9900 0%, #FF8E00 100%);
}

.gradient-orange--vertical-broken-dark {
	background-image: linear-gradient(180deg, #FF8E00 0%, #FF6700 100%);
}

.gradient-orange--vertical {
	background-image: linear-gradient(180deg, #FF9900 0%, #FF6700 100%);
}

.gradient-orange--horizontal {
	background-image: linear-gradient(90deg, #FF9900 0%, #FF6700 100%);
}

.logo {
	max-width: 230px;
}

.btn {
	@apply rounded-full p-4 shadow transition-all transform duration-200 ease-in font-bold;
	&-blue {
		@apply bg-blue;
		&:hover {
			@apply bg-blue-dark;
		}
	}
	&-orange {
		@apply bg-orange text-white;
		&:hover {
			@apply bg-orange-semidark;
		}
	}
	&-yellow {
		@apply bg-yellow text-orange-semidark;
		&:hover {
			@apply bg-orange-semidark text-white;
		}
	}
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 15px solid red;
	position: absolute;
	bottom: -15px;
	z-index: 50;
	left: 50%;
	transform: translateX(-50%);

	&--orange {
		border-top-color: #FF9900;
	}

	&--gray {
		border-top-color: #F7FAFC;
	}

	&--white {
		border-top-color: #fff;
	}
}

@responsive {
	.no-bg {
		background-image: none;
	}
}


pre {
	@apply whitespace-normal my-6 border-t border-b border-orange border-solid not-italic block py-4 font-display text-lg font-normal mx-4;
}


/* Embla carousel */

.embla {
    @apply w-full;
  }
  
  .embla__wrap {
    @apply relative;
  }
  
  .embla__viewport {
    @apply w-full overflow-hidden;
  }
  
  .embla__container {
    @apply flex;
  }
  
  .embla__slide {
    @apply relative flex-1;
  }
  
  .embla__slide--gallery {
    flex: 0 0 100%;
    padding-left: 0px;
  
    /* @screen md {
      flex: 0 0 50%;
      padding-left: 0px;
    }
  
    @screen xl {
      flex: 0 0 25%;
      padding-left: 0px;
    } */
  }
  